<div class='row'>
  <div class='col-sm-4', style: 'border-right: 2px solid gray'>
  <% @online.each do |online| %>
    <ul id="users_list">
      <li style="list-style-type:none;"> <%= online.user_name  %> </li>
    </ul>
  <% end %>
  </div>
  <div class='col-sm-8'>
    <ul id="messages_list">
      <%= render partial: 'messages' %>
    </ul>
    <%= render "form", message: @message %>
  </div>
</div>
