<div class='row'>
  <div class='col-sm-3 col-md-3' id= "leftdiv">
    <div class="onlineusers">
        <ul id="users_list">
          <%= render partial: 'onlineusers' %>
      </ul>
    </div>
  </div>
  <div class='col-sm-9 col-md-9' id ="messageform">
    <ul id="messages_list">
      <%= render partial: 'messages' %>
    </div>
  <div id="message_form">
  <%= render "form", message: @message %>
</div>
</div>
